.order-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.order-item {
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
  align-items: start;
  gap: 30px;
  padding: 20px;
  border: 1px solid tomato;
  color: #505050;
  font-size: 14px;
}

.order-item img {
  width: 50px;
}

.order-item-food,
.order-item-name {
  font-weight: 600;
}

.order-item-name {
  margin-top: 30px;
  margin-bottom: 5px;
}

.order-item-address {
  margin-bottom: 10px;
}

.order-item select {
  width: max(10vw, 120px);
  padding: 10px;
  border: 1px solid tomato;
  border-radius: 4px;
  background-color: #ffe8e4;
  outline-color: tomato;
}

@media (max-width: 1000px) {
  .order-item {
    grid-template-columns: 0.5fr 2fr 1fr;
    gap: 15px;
    font-size: 12px;
  }

  .order-item select {
    padding: 5px;
    font-size: 12px;
  }

  .order-item img {
    width: 40px;
  }
}
